body, p{
  font-family: Calbri, helvetica, sans-serif;
}

h1, h2 {
  font-family: "Courier New", monospace;
  color:red;
}

a:link {
  color:red;
}
a:visited {
  color:green;
}

input[type=submit]:active {
  background-color:green;
}

ul {
  list-style-type:square;
}
ol {
  list-style-type:lower-roman;
}

tr:nth-child(even) {
  background-color:lightgray;
}
tr:hover {
  background-color: lightblue;

}
